{% extends 'blog/info.html' %}
{#{% block title %}#}
{#{% endblock %}#}
{#<li>nihao</li>#}
{#{% block content %}#}
{#    <li>{{ blog.content|safe }}</li>#}
{#<div class="post-body" itemprop="articleBody">#}
{##}
{#     {{ blog.content|safe }}#}
{##}
{#</div>#}
{#{% endblock content %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>你好</title>#}
{#</head>#}
{#<body>#}
{#<h1>最帅</h1>#}

{#{% extends "learning_logs/base.html" %}#}
{#{% block content %}#}
{#    <div class="post-body" itemprop="articleBody">#}
{##}
{#     {{ blog.content|safe }}#}
{##}
{#    </div>#}
{#{% endblock content %}#}
{#</body>#}
{#</html>#}